services:
  api:
    build:
      context: .
      dockerfile: Dockerfile
    container_name: mini-file-parser
    command: ["uvicorn", "app.main:app", "--host", "0.0.0.0", "--port", "8000", "--reload"]
    env_file:
      - .env  
    ports:
      - "8086:8000"
    volumes:
      - ./app:/app/app
      - ./logs:/app/logs
    restart: unless-stopped
    deploy:
      resources:
        limits:
          cpus: "2.0"
          memory: 3.5G
        reservations:
          cpus: "1.0"
          memory: 2.0G

