services:
  api:
    build:
      context: .
      dockerfile: Dockerfile
    container_name: mini-file-parser
    command: ["uvicorn", "app.main:app", "--host", "0.0.0.0", "--port", "8000", "--reload"]
    env_file:
      - .env  
    ports:
      - "8088:8000"
    volumes:
      - ./app:/app/app
      - ./logs:/app/logs
    restart: unless-stopped
    deploy:
      resources:
        limits:
          cpus: '4.0'
          memory: 8G
        reservations:
          cpus: '2.0'
          memory: 4G
